<dialog id="disclaimer" class="modal bg-white backdrop-blur-md" #disclaimer>
    <p class="text-3xl font-semibold">INFORMATION</p>
    <div class="p-10 text-xl">
        The key idea for this project was to have different boards where user
        can create boards and then each board will have it's separate task list.
        I was going in the right direction but I was stuck on one specific task.
        I am able to create and manage a store but when I am using a selector I
        am not able to extract out specific parts which I wanted. I spend my
        whole time debugging this issue and couldn't find a solution.
        <br />
        <br />
        All the parts of the UI is dummy except the Add New Board and View Tasks
        button on Home page but I the current state of the project will give you
        an idea of how I implemented the store and connected it with the
        backend. I am able to create new boards and store them on the backend
        and the same information is displayed on the home page. You will also be
        able to navigate to the Tasks page which is has a UI but the features
        are not working.
        <br />
        <br />
        I have also completed all the type declarations which you will find in
        the types folder so you will also get an idea of how I was planning the
        project design wise. I hope this will give you an idea of the way I
        design and implement things. I was not able to complete this project but
        if given and opportunity I will try my best to prove myself.
    </div>
    <div class="modal-action">
        <button
            (click)="closeModal()"
            class="btn bg-red-600 font-normal text-white"
        >
            Close
        </button>
    </div>
</dialog>

<div class="flex flex-col items-center space-y-4 p-10 pb-0">
    <div class="flex items-center rounded-lg bg-gray-200 pr-2">
        <input
            type="text"
            class="h-10 w-80 rounded-lg bg-gray-200 p-2 outline-none md:w-96"
            placeholder="Search"
        />

        <mat-icon>search</mat-icon>
    </div>

    <button class="btn" onclick="my_modal.showModal()">Add New Board</button>
    <button class="btn" (click)="goToTasks()">View Tasks</button>
</div>

<br />
{{ global$ | async | json }}

<div class="flex justify-center p-10">
    <div
        class="grid grid-cols-1 gap-x-10 gap-y-10 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4"
    >
        <app-board-card></app-board-card>
        <app-board-card></app-board-card>
        <app-board-card></app-board-card>
        <app-board-card></app-board-card>
        <app-board-card></app-board-card>
        <app-board-card></app-board-card>
    </div>
</div>

<dialog id="my_modal" class="modal backdrop-blur-md">
    <form
        #addNewBoardModal="ngForm"
        class="modal-box flex flex-col space-y-4"
        method="dialog"
        (ngSubmit)="addNewBoard($event)"
    >
        <p class="text-2xl font-semibold">Add New Board</p>
        <div>
            <p class="text-xl font-medium">Title</p>
            <input
                type="text"
                name="title"
                class="w-full border-2 bg-gray-200 p-2"
                [(ngModel)]="title"
            />
            <p
                [class]="
                    addNewBoardModal.value.title.length > 30
                        ? 'text-red-600'
                        : 'text-black'
                "
            >
                {{ addNewBoardModal.value.title.length }} / 30
            </p>
        </div>

        <div>
            <p class="text-xl font-medium">Description</p>
            <input
                type="text"
                name="description"
                class="w-full bg-gray-200 p-2"
                [(ngModel)]="description"
            />
            <p
                [class]="
                    addNewBoardModal.value.description.length > 70
                        ? 'text-red-600'
                        : 'text-black'
                "
            >
                {{ addNewBoardModal.value.description.length }} / 70
            </p>
        </div>

        <div class="modal-action">
            <button
                type="submit"
                class="btn btn-success font-normal text-white"
                [disabled]="
                    addNewBoardModal.value.description.length > 70 ||
                    addNewBoardModal.value.title.length > 30 ||
                    addNewBoardModal.value.title.length < 1
                "
            >
                Submit
            </button>
            <button class="btn bg-red-600 font-normal text-white">
                Cancel
            </button>
        </div>
    </form>
</dialog>
