<div class="flex flex-col items-center space-y-4 p-10 pb-0">
    <div class="flex items-center rounded-lg bg-gray-200 pr-2">
        <input
            type="text"
            class="h-10 w-80 rounded-lg bg-gray-200 p-2 outline-none md:w-96"
            placeholder="Search"
        />

        <mat-icon>search</mat-icon>
    </div>
</div>

<div class="flex justify-center p-10">
    <div
        class="grid grid-cols-1 gap-x-10 gap-y-10 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4"
    >
        <app-board-card></app-board-card>
        <app-board-card></app-board-card>
        <app-board-card></app-board-card>
        <app-board-card></app-board-card>
        <app-board-card></app-board-card>
        <app-board-card></app-board-card>
        <app-board-card></app-board-card>
        <app-board-card></app-board-card>
        <app-board-card></app-board-card>
    </div>
</div>
